In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib as plt

In [2]:
df=pd.read_csv("Dummy_variables.csv")                #Read the 'csv file'
df

            Town  Area   Price
0     Monre Town  2600  550000
1     Monre Town  3000  565000
2     Monre Town  3200  610000
3     Monre Town  3600  680000
4     Monre Town  4000  725000
5   West Windsor  2600  585000
6   West Windsor  2800  615000
7   West Windsor  3300  650000
8   West Windsor  3600  710000
9    Robbisville  2600  575000
10   Robbisville  2900  600000
11   Robbisville  3100  620000
12   Robbisville  3600  695000

In [5]:
dummies=pd.get_dummies(df.Town)                         #This is used to dummy the "TOWN" row,by replacing the values with binary values
dummies

    Monre Town  Robbisville  West Windsor
0            1            0             0
1            1            0             0
2            1            0             0
3            1            0             0
4            1            0             0
5            0            0             1
6            0            0             1
7            0            0             1
8            0            0             1
9            0            1             0
10           0            1             0
11           0            1             0
12           0            1             0

In [6]:
merged=pd.concat([df,dummies],axis='columns')                           # This is used in merging both the "data frames"
merged

            Town  Area   Price  Monre Town  Robbisville  West Windsor
0     Monre Town  2600  550000           1            0             0
1     Monre Town  3000  565000           1            0             0
2     Monre Town  3200  610000           1            0             0
3     Monre Town  3600  680000           1            0             0
4     Monre Town  4000  725000           1            0             0
5   West Windsor  2600  585000           0            0             1
6   West Windsor  2800  615000           0            0             1
7   West Windsor  3300  650000           0            0             1
8   West Windsor  3600  710000           0            0             1
9    Robbisville  2600  575000           0            1             0
10   Robbisville  2900  600000           0            1             0
11   Robbisville  3100  620000           0            1             0
12   Robbisville  3600  695000           0            1             0

In [8]:
final=merged.drop(['Town','West Windsor'],axis='columns')                      #This command is used to drop the unrequired columns
final

    Area   Price  Monre Town  Robbisville
0   2600  550000           1            0
1   3000  565000           1            0
2   3200  610000           1            0
3   3600  680000           1            0
4   4000  725000           1            0
5   2600  585000           0            0
6   2800  615000           0            0
7   3300  650000           0            0
8   3600  710000           0            0
9   2600  575000           0            1
10  2900  600000           0            1
11  3100  620000           0            1
12  3600  695000           0            1

In [9]:
from sklearn.linear_model import LinearRegression                                  #To import the package Sklearn
model=LinearRegression()                                                           #Name the type of operation, we are doing

In [11]:
X=final.drop('Price',axis='columns')
X

    Area  Monre Town  Robbisville
0   2600           1            0
1   3000           1            0
2   3200           1            0
3   3600           1            0
4   4000           1            0
5   2600           0            0
6   2800           0            0
7   3300           0            0
8   3600           0            0
9   2600           0            1
10  2900           0            1
11  3100           0            1
12  3600           0            1

In [14]:
Y=final.Price
Y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: Price, dtype: int64

In [15]:
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
model.predict([[2800,0,1]])

array([590775.63964739])

In [18]:
model.predict([[3400,0,0]])

array([681241.66845839])

In [19]:
model.score(X,Y)                              #To check the accuracy of the model

0.9573929037221873